{% extends 'base.html' %}

{% block title %}
Чат с {{ data.username }}
{% endblock %}

{% block body %}
<br>
{% if data.chat_exist %}
<div style="display: inline-block; width: 850px; margin-left: 200px">
    <h3>Чат с {{ data.username }}</h3>
    {% for message in data.messages %}
    {% if message[2] == data.user_id %}
    <h5 align="right"><span style="background-color: #8E44AD; padding: 0px 5px 5px 5px; border-radius: 25px;">{{data.current_user}}:</span></h5>
    <p align="right"><span style="background-color: #FFA07A; display: inline-block; width: 400px; text-align: center; padding: 13px 13px 13px 13px; border-radius: 25px;">{{message[0]}}</span></p>
    <p align="right">{{message[1]}}</p>
    <hr>
    {% else %}
    <h5 align="left"><span style="background-color: #8E44AD; padding: 0px 5px 5px 5px; border-radius: 25px;">{{data.username}}:</span></h5>
    <p align="left"><span style="background-color: #40E0D0; display: inline-block; width: 400px; padding: 13px 13px 13px 13px; border-radius: 25px;">{{message[0]}}</span></p>
    <p align="left">{{ message[1]}}</p>
    <hr>
    {% endif %}
    {% endfor %}
</div>
{% else %}
<h4>Вы пока не начали общение. Чтобы начать отправьте сообщение</h4>
{% endif %}
<div class="container col-md-7 col-lg-8">
    <form class="needs-validation" method="post">
      <div class="row g-3">
        <div class="col-sm-6">
          <label for="send_message" class="form-label">Написать сообщение</label>
          <input type="text" class="form-control" name="send_message" id="send_message" placeholder="Введите ваше сообщение" value="" required="">
          <div class="invalid-feedback">
            Valid first name is required.
          </div>
        </div>
      <button class="w-100 btn btn-primary btn-lg" type="submit">Отправить</button>
    </form>
</div>
{% endblock %}